<footer>
    <div class="div1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sed suscipit officiis facere corporis nobis iusto eveniet fugit tenetur, tempore voluptas itaque voluptatem iste sequi!
    </div>
    <div class="div2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam perspiciatis cumque commodi optio quaerat.
    </div>
    <div class="div3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorum, recusandae ea nobis tempore voluptatibus consectetur harum fugit a illum deserunt reiciendis veritatis aperiam reprehenderit ullam! Velit vel soluta odit?
    </div>
    <div class="div4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, natus.
    </div>
    <div class="copyright">
        Mihajlo Stojković, projekat za predmet PIA, 2021. godina
    </div>
</footer> 