<div class="contracts">
    <div class="header"><app-header></app-header></div>

    <div class="rentContracts" *ngIf='approvedRents'>
        <h3>UGOVORENA IZNAJMLJIVANJA</h3>
        <table>
            <tr>
                <th>DATUM OD</th>
                <th>DATUM DO</th>
                <th>TIP NEKRETNINE</th>
                <th>ADRESA</th>
                <th>CENA MESEČNOG NAJMA</th>
                <th>UGOVORENA CENA</th>
                <th>VLASNIK</th>
                <th>KUPAC</th>
                <th>PROFIT</th>
            </tr>
            <tr *ngFor = 'let r of approvedRents'>
                <td>{{r.startDate}}</td>
                <td>{{r.endDate}}</td>
                <td>{{type(r.lotID)}}</td>
                <td>{{address(r.lotID)}}</td>
                <td>{{price(r.lotID)}}EUR</td>
                <td>{{r.totalPrice}}EUR</td>
                <td>{{owner(r.lotID)}}</td>
                <td>{{r.proposer}}</td>
                <td>{{r.profit.toFixed(2)}}EUR</td>
            </tr>
            <tr>
                <td colspan="8">
                    <span>TOTAL: {{totalRents.toFixed(2)}}EUR</span>
                </td>
            </tr>
        </table>
        
    </div>

    <div class="buyContracts" *ngIf='approvedBuyRequests'>
        <h3>UGOVORENE PRODAJE</h3>
        <table>
            <tr>
                <th>TIP NEKRETNINE</th>
                <th>ADRESA</th>
                <th>CENA</th>
                <th>VLASNIK</th>
                <th>KUPAC</th>
                <th>PROFIT</th>
            </tr>
            <tr *ngFor = 'let r of approvedBuyRequests'>
                <td>{{type(r.lotID)}}</td>
                <td>{{address(r.lotID)}}</td>
                <td>{{r.price}}EUR</td>
                <td>{{owner(r.lotID)}}</td>
                <td>{{r.proposer}}</td>
                <td>{{r.profit.toFixed(2)}}EUR</td>
            </tr>
            <tr>
                <td colspan="6">
                    <span>TOTAL: {{totalBuyRequests.toFixed(2)}}EUR</span>
                </td>
            </tr>
        </table>
        
    </div> 

    <div class="footer">
        <app-footer></app-footer>  
    </div>
</div>