
.registracije {
    display: grid;
    min-height: 100%;
    position:relative;
    grid-template-columns: 1fr;
    grid-template-rows: 5em auto 15%;
    grid-template-areas: 
    "header"
    "registracije"
    "footer"
}

.footer {
    grid-area: footer;
    
}

.header {
    grid-area: header;
    max-height: max-content;
}

.noveRegistracije {
    grid-area: registracije;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    /* box-sizing: border-box; */
    overflow: auto;
    min-height: 72vh;
}

.lot {
    background: rgba(252, 89, 86, 1);
    min-width: 49%;
    max-width: 49%;
    margin: 0.5rem;
    border-radius: 15px;
    /* border: 5px solid rgba(252, 89, 86, 1); */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "img list";
    box-shadow: 3px 3px 8px;
    
}

.lotForPromotion{
    background: rgba(252, 89, 86, 1);
    box-shadow: 3px 3px 8px;
    cursor: pointer;
    min-width: 48%;
    max-width: 48%;
    margin: 0.5rem;
    border-radius: 15px;
    border: 5px solid transparent;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "img list";
}

.promoted {
    border: 5px solid rgba(28, 27, 32, 1) !important;
}

.promoted:hover {
    background: rgba(252, 89, 86, 0.8) !important;
}

.notPromoted:hover {
    background: rgba(252, 89, 86, 0.8) !important;
}

.noveRegistracije div table {
    /* margin-left: 0.5rem; */
    width: 100%;
    grid-area: list;
    border-left: 4px solid rgba(248, 248, 248, 1);
    margin-left: 10px;
    color: rgba(28, 27, 32, 1);
}

.noveRegistracije div table button {
    font-size: 1em;
    width: 100%;
    height: 3em;
    font-weight: 600;
    background: rgba(252, 89, 86, 1);
    border: 3px solid rgba(248, 248, 248, 1);
    border-radius: 15px;
    cursor: pointer;
    color: rgba(248, 248, 248, 1);
}

.noveRegistracije div table button:hover {
    border-color: rgba(28, 27, 32, 1);
    color: rgba(28, 27, 32, 1);
}

.lotImage{
    grid-area: img;
    /* margin-left: .3em; */
    background: green;
    background-size: cover;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    /* margin-right: 5px; */
    margin-bottom: 5px;
    width: 100%;
}