<div class="agent">
    <div class="header"><app-header></app-header></div>

    <div class="korisnici">
        <button routerLink = 'newLots'>NOVE NEKRETNINE</button>
    </div>

    <div class="registracije">
        <button routerLink='addLot'>DODAJ NEKRETNINU</button>
    </div>

    <div class="nekretnine">
        <button routerLink='contracts'>UGOVORI I PRIHODI</button>
    </div>

    <div class="prodajeiprihod">
        <button routerLink='promoteLots'>PROMOVIŠI NEKRETNINE</button>
    </div>

    <div class="procenat">
        <button routerLink='requests'>ZAHTEVI ZA ODOBRAVANJE</button>
    </div>

    <div class="grafikoni">
        <div class="chart brNekretnina"><canvas id="brNekretnina" ></canvas></div>
        <div class="chart stanovi"><canvas id="stanovi" ></canvas></div>
        <div class="rangovi"><canvas id="rangovi" ></canvas></div>
    </div>

    <div class="footer">
        <app-footer></app-footer>  
    </div>
</div>
